// Mainly extending bootstrap semantically

.word-list {
  @extend .card;

  &__header {
    @extend .card-header;

    &__title {
      display: inline-block;
    }

    &__search {
      margin-left: 20px;
      display: inline-block;
    }
  }

  &__body {
    @extend .card-body;
  }
}

.word {
  margin: $default-margin;

  &--visited {
    font-weight: bold;
  }
}
